#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# TODO:
# - upstream should/must supply man pages!
#
# - the upstream GNUmakefile supports/encourages "out-of-tree" builds.
#   Should we make use of that?

%:
	dh $@

# - the upstream GNUmakefile's 'install' rule installs
#   $PREFIX/lib/libfs123.a and corresponding headers in
#   $PREFIX/include/fs123.  They're potentially useful,
#   but they need include/core123 to be useful, and they
#   belong in an fs123-dev package.  It also installs
#   /usr/bin/ex1server which seems wrong.  So we forego
#   the upstream's 'install' rule and rely on ./fs123.install.
override_dh_auto_install:
